@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}


@*<link href="jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="stylecss.css" type="text/css">

<link rel="stylesheet" href="stylecss_2.css" type="text/css">

<link rel="stylesheet" href="styleresponsive.css" type="text/css">

<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="backdoorstyle.css" type="text/css">


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>*@

 
Conne
<div class="aphidtise_wrap">

<div class="logid">
<div class="menunav">

</div>
<div class="logid_out">
<ul>
<li><a href="#" style="color:#ffc000;">AdamLevl</a></li>
<li><a href="#">Logout</a></li>
</ul>

<div class="profilebg">
<div class="migprofile"> <img src="images/profilebg.png"> </div>
<div class="premi-info-box"><img src="images/premiumaccount_star_bg.png" style="width:100%;"><p class="preum-p-text">Premium Account</p></div>
<div class="premi-info-box"> <a href="@Url.Action("EditChannelPage","Premium")">  <img src="images/grid14bg.png" style="margin: 10px 0 0 10px;"></a></div>
 
</div>

</div>
</div>

</div>

</div>
<div class="header_aphidtise">
<div id="logo"><a href="@Url.Action("Index","Home")" style="cursor:pointer;"> <img src="images/hphidbytelogo.png"></a> </div>
</div>
<div class="headertab_aphidtise">
<p class="toptext2nd">Generate Clones</p>
<div class="aphidbyteleft" style="margin-left: 67px;margin-top:23px;">

<ul class="aphidbytelist-preum">
<li><a href="#">Account Info</a></li><li></li>
<li><a href="#">Generate Clones</a></li><li><img src="images/right_line.png" height="2" width="103"></li>
<li><a href="#">Messages</a></li><li></li>
<li><a href="#">Byte Tracker</a></li><li></li>
<li><a href="#">History</a></li><li></li>
<li><a href="#">Data Plan</a></li><li></li>
<li><a href="#">Playlists</a></li><li></li>

</ul>


<div class="prebox" ><p>Dashboard<img src="images/premium_account_bg.png" class="pre-boxp"></p></div>

<div class="mremium-tools"><img src="images/premium-tools.png"></div>

<div class="info-footer-social"></div>
<div class="premium_rightline"></div>
</div>


<div class="cgange-mainz">
<p><img src="img/iicone-z.png" class="icone-zaq"></p>
 <aside class="middle-grid-1z" id="msb">
					<div class="mbox1" ><img src="images/b3bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter III A Milli</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo1.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 2</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo2.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Dedication 4</p></div>
                    
  </aside>				
				<aside class="middle-grid-1z" id="msb">
					<div class="mbox1" ><img src="img/b3bg.png"><p class="grid-pica "> <img src="img/glogo3.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Lights Out Biznite</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo2.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter Cash Money Millionaires
</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica2 "> <img src="img/glogo4.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Rebirth Prom Queen</p></div>
                    
				</aside>
                <aside class="middle-grid-1z" id="msb">
					<div class="wrap-nav" style="margin-top:2px;">
                    <p class="grid-textm"> <img src="img/newr_icon.png"> Mobile View</p>
                    <p class="grid-textm">Matrix View</p>
                    <p class="grid-textm">List View</p>
                <ul class="wrap-navlinks">
				<li>MUSIC</li>
				<li>VIDEOS</li>
                <div class="grid-c-logo"><img src="img/bphidbyte_sicon.png"></div>
				<li>PHOTOGRAPHY/ART</li>
				<li>EBOOK</li>
				<li>FILES</li>
				</ul>
                
                </div>
                <p class="grid-text" style="margin-top:18px;">Speed</p>
                
                <div id="play-d">
                <div id="play-d1"><img src="img/pluse+.png"></div>
                <div id="play-d2"><img src="img/pause.png"></div>
                <div id="play-d3"><img src="img/-button.png"></div>
                </div>
                
                <div id="play-d">
                <div id="play-d1" style="margin-left:15px;"><p class="grid-text-c"><a href="#">LOGOUT</a></p></div>
                <div id="play-d3" style="margin-left:12px;"><img src="img/logout.png"></div>
                </div>
                
				</aside>				
				  <aside class="middle-grid-1z" id="msb">
					 <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo5.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought Is Over 2</p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo6.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 4</p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter IV So Special </p></div>
                    

				</aside>	
  <aside class="middle-grid-1z" id="msb">
					 <div class="mbox1" ><img src="img/b3bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 3 </p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo7.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter II Feel Me</p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo8.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne I Am Not a Human Being Single </p></div>
                    
				</aside>
               
               
                <div>
</div>





<div id="pageon-tab"><img src="img/bg-onlogo.png">
<div class="pgcenter-id"><img src="images/aphid_logo-c.png"></div>
<div class="fpgcenter-id">
  <ul class="b">
  <li>Upload files into Matrix</li>
  <li>Post links od Matrix files to your personal Social Networks</li>
  <li>Upload Your files to your social wetworks simultaneously</li>
</ul>
</div>

</div> 




</div>
<div><div class="cgange-mainz" style="margin-top:0px;">
<div style="height:5px; width:100%; background:url(images/line_bold_za.png);"></div>

<p><img src="img/iicone-z.png" class="icone-zaq"></p>
 <aside class="middle-grid-1_2z" id="msb">
					<div class="mbox1" ><img src="images/b3bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter III A Milli</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo1.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 2</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo2.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Dedication 4</p></div>
                    
  </aside>				
				<aside class="middle-grid-1_2z" id="msb">
					<div class="mbox1" ><img src="img/b3bg.png"><p class="grid-pica "> <img src="img/glogo3.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Lights Out Biznite</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo2.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter Cash Money Millionaires
</p></div>
                    
                    <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica2 "></p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Rebirth Prom Queen</p></div>
                    
				</aside>
                	
                <aside class="middle-grid-1_2z" id="msb">
			    		<div class="wrap-nav" style="margin-top:2px;">
                    <p class="grid-textm"> <img src="img/newr_icon.png"> Mobile View</p>
                    <p class="grid-textm">Matrix View</p>
                    <p class="grid-textm">List View</p>
                <ul class="wrap-navlinks">
				<li>MUSIC</li>
				<li>VIDEOS</li>
                <div class="grid-c-logo"><img src="img/bphidbyte_sicon.png"></div>
				<li>PHOTOGRAPHY/ART</li>
				<li>EBOOK</li>
				<li>FILES</li>
				</ul>
                
                </div>
                <p class="grid-text" style="margin-top:18px;">Speed</p>
                
                <div id="play-d">
                <div id="play-d1"><img src="img/pluse+.png"></div>
                <div id="play-d2"><img src="img/pause.png"></div>
                <div id="play-d3"><img src="img/-button.png"></div>
                </div>
                
                <div id="play-d">
                <div id="play-d1" style="margin-left:15px;"><p class="grid-text-c"><a href="#">LOGOUT</a></p></div>
                <div id="play-d3" style="margin-left:12px;"><img src="img/logout.png"></div>
                </div>  
				</aside>			
                                
                                
				  <aside class="middle-grid-1_2z" id="msb">
					 <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo5.png"> </p></div>
                    <div class="overbox"><p class="grid-text_z1">Lil Wayne The Drought Is Over 2</p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo6.png"> </p></div>
                    <div class="overbox"><p class="grid-text_z1">Lil Wayne The Drought is Over 4</p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"></div>
                    <div class="overbox"><p class="grid-text_z1">Lil Wayne Tha Carter IV So Special </p></div>
                    

				</aside>	
  <aside class="middle-grid-1_2z" id="msb">
					 <div class="mbox1" ><img src="img/b3bg.png"></div>
                    <div class="overbox"><p class="grid-text_z1">Lil Wayne The Drought is Over 3 </p></div>
                    
                     <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo7.png"> </p></div>
                    <div class="overbox"><p class="grid-text_z1">Lil Wayne Tha Carter II Feel Me</p></div>
                     <samp><img src="images/blue_rwo_wa.png"/ class="row_aro_p"></samp>
                     <div class="mbox1" ><img src="img/b3bg.png"> <p class="grid-pica "> <img src="img/glogo8.png"> </p></div>
                    <div class="overbox"><p class="grid-text_z1">Lil Wayne I Am Not a Human Being Single </p></div>
                    
				</aside>
                
                <aside class="as_div_1">
                <samp><img src="images/aa_icon_pic.png"/></samp>
                </aside>
             
               
                <div>
</div>





<div id="pageon-tab"><img src="img/bg-onlogo.png">
<div class="pgcenter-id"><img src="images/aphid_logo-c_a.png"></div>
<div class="fpgcenter-id">
  <ul class="b">
  <li>Send links of your Matrix files to your Marketing Team for then to post to their Social Networks</li>
</ul>
</div>

</div> 




</div></div>





<div id="mec-footer-zc">
<div class="mec-footer-box">
        <div class="mecbox-l">
            <img src="/img/icone.png">
        </div>
        <div class="mecbox-r">
            <samp class="mectext-t"><a href="/SocialNetworks/AddChannel"style="color:white;cursor:pointer">Add more sites from our database to your Channel Group</a></samp>
        </div>
         <div class="mecbox-l" style="clear: left;">
            <img src="/img/toplogo.png" style="width: 55%;">
        </div>
        
        <div class="mecbox-r">
            <samp class="mectext-t"><a href="/SocialNetworks/ModifyExistingNetworks"style="color:white;cursor:pointer">Modify Existing Channels</a></samp>
        </div>
       <div class="mecbox-l" style="clear: left;">
            <img src="/img/w-icone.png">
        </div>
        <div class="mecbox-rec">
            <samp class="mectext-t" style="margin-top: 5px;"><a href="/SocialNetworks/AddNetworkToDb"style="color:white;cursor:pointer"> Request another site</a></samp>
        </div>
        <div class="mecbox-l" style="clear: left;">
            <img src="/img/csocialnetwork.png">
        </div>
        <div class="mecbox-r">
            <samp class="mectext-t"><a href="/SocialNetworks/Index" style="color:white;cursor:pointer">Connect Your Social Networks</a></samp>
        </div>
    </div>
</div>
</div>
<script src="jquery.mCustomScrollbar.js"></script> 
<script>
    (function($){

				$("#browseBtns,#browseBtnsAdd").fadeTo('slow',.2);
				$( ".browseInput" ).each(function( index ) {
				 if (index > 3)
				 $(this).remove();
				});
				$("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled',true);
				
        $(window).load(function(){
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script> 
 

