@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

@*<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>AphidTise</title>
<link rel="stylesheet" href="stylecss.css" type="text/css">
<link href="jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="script.js"></script>*@


 
<div class="popbyter-mianz">
<div class="popbyter-miansub">
<div class="popbyter-subleft" style="width:60%;">
<a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png" style="width:20%;"></a><br/>
<p style="width:100%;"><a>RETURN TO GENERATE CLONES</a></p>

</div>
<div class="popbyter-sub1">

</div>

<div class="popbyter-footer1">  
<div class="return-popupc">
<p>Flashing Lights</p>
<p><img src="/images/return-line-bg.png"></p>
<p></p>
<p><samp><img src="/Images/ficone.png"></samp></p><br/><br/><br/>
<p><samp style="color:#FFFFFF;">Error Occurred. 5HKLDF12<br/>Would You Like to Retry?</samp></p>
<br/>

<div class="byter-lefttext">
<p style="color:#FFFFFF;">YES</p>
<p style="color:#FFFFFF;">NO</p>
</div>

</div>
<div class="b-preimum"></div>
</div>


</div>



</div>

 
