@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

  

<div class="aphidtise_wrap">
</div>
<div class="header_aphidtise">
  <div id="logo"><a href="@Url.Action("Index","Home")" style="cursor:pointer;"> <img src="/images/hphidbytelogo.png"></a> </div>
</div>
<div class="about_headtext"><p><a href="#">Back</a></p></div>

<div class="about_headbg" style="background:none !important;">

<div class="w_main_imax">

<div style="width: 35% !important">

<div class="pay_pal_ac">
<p>Account ID: 44897844</p>

<ul>
<li><label for="Company Logo">Account Name: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">Currency: </label><input name="email" type="text" id="email" value="US Dollar (USD)" size="30" /></li>
<li><label for="psw">Time Zone: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw" style="text-align:center;">Are these ads for Personal or Business Use? </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">Business Name: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">Street Address: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">Street Address 2: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">City/Town: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw" style="text-align:center;">State/Province/Region: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">Postal Code: </label><input type="text" name="email" id="email" size="30" /></li>
<li><label for="psw">Select Country: </label><select name="fff">
  <option selected>US</option>
  <option>India</option>
  <option>UK</option>
</select></li>


<li> 
<label for="exp:" style="text-align:center;">EU VAT Number:<br/>(If applicable)</samp></label>
<select name="fff" style="width:82px; background:url(images/expbg.png) no-repeat;" value="***" size="" /> </select>
<input name="email" type="text" class="exp" id="email" style="width:72px; background:url(/images/expbg.png) no-repeat;" value="02/2014" size="" />
</li>


</ul>
</div>




</div>

<div style="width: 10% !important" class="pay_b_button">
<a href="#">Proceed</a>

</div>

<div class="psa_mtext">
<p> <samp><a href="#">Paypal</a></samp>            <samp><a href="#">johndoebyte@aol.com</a> </samp>       <samp><a href="#"> Primary</a></samp></p>

<div class="psa_mtext_im"><img src="/Images/colo_pr_pic.png"/></div>
<p><a href="#"><img src="/Images/plus_b.png"/ style="width:15%;  margin-top:-90px;"></a></p>
<samp><img src="/images/paypalbg.png"/ class="pay_p_rz1"></samp>
<div class="psa_2_t">
<p><img src="/Images/sec_img_p.png"/></p>
<p>Ad Account Settings</p>
</div>

<div class="psa_2_t" style="margin-top:15px;">
<p><img src="/Images/$img_pic.png"/></p>
<p><img src="/Images/21img_pic.png"/></p>
<p>Billing (available in data history)</p></br/>
<p>Add New Payment Method</p>
<br/>
<p class="pay_p_rzc2">Contact Support</p>
<p></p>
</div>


</div>

</div>




</div>


<div class="menunav_footer2">
<ul style="background:none !important; clear:both; height:auto !important;">
<li><a href="#">Navigation  </a></li>
<li><a href="#">Menu    </a></li>
<li><a href="#">Advertise   </a></li>
<li><a href="#">Store     </a></li>
<li><a href="#">Terms    </a></li>
<li><a href="#">Privacy Policy </a></li>
<li><a href="#">Sponsoring</a></li>
</ul>
</div>
</div>

 

