.main_content .right_content {
  padding-top: 80px;
  padding-left: 0px; }

.profile_page .profile_page_left .profile_head_details {
  width: 220px;
  text-align: center;
  padding-bottom: 40px; }
  .profile_page .profile_page_left .profile_head_details .profile_thumbnail {
    width: 210px;
    height: 210px;
    background: #dfe8cc;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px; }
    .profile_page .profile_page_left .profile_head_details .profile_thumbnail img {
      width: 230px; }
  .profile_page .profile_page_left .profile_head_details .profile_details h4 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px; }
  .profile_page .profile_page_left .profile_head_details .profile_details span {
    font-size: 12px;
    color: #000000;
    line-height: 17px;
    display: block; }
.profile_page .profile_page_left .profile_about_details .about_left {
  float: left;
  width: 100%;
  padding-right: 150px;
  margin-right: -150px; }
  .profile_page .profile_page_left .profile_about_details .about_left .about_block {
    margin-bottom: 10px; }
    .profile_page .profile_page_left .profile_about_details .about_left .about_block h3 {
      font-size: 16px;
      color: #557321;
      padding-bottom: 20px; }
      .profile_page .profile_page_left .profile_about_details .about_left .about_block h3 span {
        font-size: 14px;
        color: #000000;
        font-weight: normal; }
    .profile_page .profile_page_left .profile_about_details .about_left .about_block p {
      font-size: 14px;
      color: #000000; }
.profile_page .profile_page_left .profile_about_details .about_right {
  float: right;
  width: 120px;
  text-align: center; }
  .profile_page .profile_page_left .profile_about_details .about_right ul {
    text-align: center; }
    .profile_page .profile_page_left .profile_about_details .about_right ul li {
      padding-bottom: 30px; }
      .profile_page .profile_page_left .profile_about_details .about_right ul li img {
        max-width: 100%; }
.profile_page .profile_page_right_sidebar .subscribe_btn {
  padding-bottom: 40px; }
  .profile_page .profile_page_right_sidebar .subscribe_btn a {
    display: block;
    width: auto;
    font-size: 12px;
    padding: 12px; }
.profile_page .profile_page_right_sidebar .contact_details {
  padding-bottom: 5em; }
  .profile_page .profile_page_right_sidebar .contact_details ul li {
    padding-bottom: 10px; }
    .profile_page .profile_page_right_sidebar .contact_details ul li a {
      font-size: 13px;
      color: #000000;
      text-align: center;
      display: block; }
.profile_page .profile_page_right_sidebar .skills h3 {
  font-size: 16px;
  color: #557321;
  padding-bottom: 30px; }
.profile_page .profile_page_right_sidebar .skills .skills_thumbnail {
  padding-bottom: 30px; }
  .profile_page .profile_page_right_sidebar .skills .skills_thumbnail img {
    display: inline-block;
    width: 48%; }
.profile_page .profile_page_right_sidebar .skills ul li {
  font-size: 13px;
  color: #000000;
  padding-bottom: 10px; }
.profile_page .portfolio_listing .works_portfolio_box {
  padding: 15px;
  height: 203px; }
  .profile_page .portfolio_listing .works_portfolio_box:hover {
    background-color: white; }
.profile_page .portfolio_listing .works_pagination {
  color: #2f2e2e;
  display: block;
  text-align: right; }

/*# sourceMappingURL=profile-page.css.map */
