@{
    ViewBag.Title = "Playlist1";
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<script type="text/javascript">
$(document).ready(function(e) {
    
	$("#abc").mouseover(function(){
	$("#pop-up-over-m").css('display','block');
		})
		$("#abc").mouseleave(function(){
			$("#pop-up-over-m").css('display','none');
			});

});
</script>
div class="aphidtise_wrap">

<div class="logid">

<div class="logid_out">
<ul>
<li><a href="#">@Session["UserName"]</a></li>
  <li><a href="~/Accounts/Logout">Logout</a></li>
</ul>

<div class="profilebg">
<div class="migprofile"> <img src="/images/profilebg.png"> </div>
<div class="info-logo"> <img src="/images/acinfo_logo.png"> </div>
</div>

</div>
</div>

</div>

<div class="header_aphidtise">
<div id="logo"> <img src="/images/hphidbytelogo.png"> </div>

<div class="zplay-list1">
<div class="zplay-main1">
<div class="zplay_grid1"><p class="info-p">Playlists > My Playlists > Playlist 1</p></div>
<div class="zplay_grid1">
<div class="zplay_grid01"><img src="/images/playlist-bgz01.png" id="buttonclick2"></div>
<div class="zplay_grid02"><img src="/images/playlist-bgz02.png"></a><div style="margin:-53px 0 0 38px; width:100%; text-align:center;" class="zplay_gridp" id="mydiv"> <div>Playlist 1</div></div></div>

</div>
<div class="zplay_grid-1">
<p><a href="Favorites"><img src="/images/favorites_ms.png"></a></p>
<p>Favorites</p>

</div>
</div>
</div>

</div>
<div class="headertab_aphidtise">
<div class="left-info">

<ul class="infolist-menu">
<li><a href="ByterAccountInfo">Account Info</a></li><li></li>
<li><a href="Message">Messages</a></li><li></li>
<li><a href="History">History</a></li><li></li>
<li><a href="Playlists">Playlists</a></li><li><img src="/images/right_line.png"></li>
<li><a href="ByterCreditSummary">Credit Tracker</a></li><li></li>
<li><a href="CreditSubscription" style=" background:url(/images/imfo-bmenu-2.png);height: 31px; line-height: 17px;padding-bottom: 7px; padding-top: 7px; width: 120px;">Credit <br/> Subscriptions</a>
</li>
</ul>

<div class="info-right"></div>
<div class="info-footer-social"></div>

</div>



<div class="aphidbytecenter content scrollWidth" id="content_1" style="height:600px; margin-top:85px;">
<div class="massage_index">

<div class="add-playlist-da">
<div class="tab2-boxtext-2z">
    <ul>
    <li><p>Wiz Khalifa – “Black & Yellow"</p></li>
    <li><a href="#"><img src="/images/plus-m-i.png"></a></li>
    <li><a href="#"><img src="/images/close-m-i.png"></a></li>
    </ul>
    </div>

<div class="tab2-boxtext-2z">
    <ul>
    <li><p>Adam Levine - “Mick Jagger”"</p></li>
    <li><a href="#"><img src="/images/plus-m-i.png"></a></li>
    <li><a href="#"><img src="/images/close-m-i.png"></a></li>
    </ul>
    </div>

</div>

<div id="pop-up-over-m" style="margin-top:10px;">
<img src="/images/symbol-i.png" class="i-pop-abhid">

<div class="pop-up-ov">

</div>
</div>


</div>
</div>

</div>
</div>

<div class="massage-footer-m">
<div class="play-save-cb">
<a href="#"><img src="/images/savech-play.png"></a>
</div>

</div>
</div>


</div>

<script src="jquery.mCustomScrollbar.js"></script> 
<script>
    (function($){

				$("#browseBtns,#browseBtnsAdd").fadeTo('slow',.2);
				$( ".browseInput" ).each(function( index ) {
				 if (index > 3)
				 $(this).remove();
				});
				$("#browseBtns,#browseBtnsAdd,#btnUpload").prop('disabled',true);
				
        $(window).load(function(){
            $(".content").mCustomScrollbar();
        });
    })(jQuery);
</script> 

<script>
$(document).ready(function() {
    $("#content").find("[id^='tab']").hide(); // Hide all content
    $("#tabs li:first").attr("id","current"); // Activate the first tab
    $("#content #tab1").fadeIn(); // Show first tab's content
    
    $('#tabs a').click(function(e) {
        e.preventDefault();
        if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
         return;       
        }
        else{             
          $("#content").find("[id^='tab']").hide(); // Hide all content
          $("#tabs li").attr("id",""); //Reset id's
          $(this).parent().attr("id","current"); // Activate this
          $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
        }
    });
});
</script>

<script type="text/jscript">
function divClicked() {
    var divHtml = [];

    $("#mydiv div").each(function(){
    divHtml.push($(this).html());
     var editableText = $("<input type='text' />");
    editableText.val($(this).html());
    $(this).replaceWith(editableText);
     editableText.blur(editableTextBlurred);
    });
    editableText.focus();
    // setup the blur event for this new textarea
   
}

function editableTextBlurred() {
    var html = $(this).val();
    var viewableText = $("<div>");
    viewableText.html(html);
    $(this).replaceWith(viewableText);
    // setup the click event for this new div
  //  viewableText.click(divClicked);
}

$(document).ready(function() {
    $("#buttonclick2").click(divClicked);
});

</script>