

@{
    ViewBag.PageTitle = "Account";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;


}
@section HeadScripts {
    @Styles.Render("~/bundles/css/register")
    @Styles.Render("~/Content/themes/base/css")
}
@section scripts{
    @Scripts.Render("~/js/home/register.js")
}
<div class="container-fluid">
    <div class="row row-offset-lrg">
        <div class="col-md-6 col-md-offset-3">
            <p class="txt-center">
               Please check the associated email to verify yout account.
            </p>
            <p class="txt-center">
                If problems persists with receiving the email, please email our support team.
                <br />
                <a href="mailto:support@aphidbyte.com">support@aphidbyte.com</a>
            </p>
        </div>
    </div>
