

@{
    ViewBag.PageTitle = "Account";
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;    
    
    
}
@section HeadScripts {
    @Styles.Render("~/bundles/css/register")
    @Styles.Render("~/Content/themes/base/css")
}
@section scripts{
    @Scripts.Render("~/js/home/register.js")
}
<div class="container-fluid">
    <div class="row">
        <h1>@ViewBag.Message</h1>
    </div>
</div>
