@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

 <div id="dialog" title="Aphidbytes" >
<div id="buttonLimit-bg">
 <img src="/Images/OutofStorageButton.png" style="margin-left:108px;margin-top:90px"/>
     

<div id="button-c"><a href="@Url.Action("Dataplan","Basic")"><img src="/img/button_bgw.png" style="
    margin-left: 150%;
    margin-top: -48%;
    position: absolute;
    width: 226px;
"/></a></div>

</div>
</div>

