@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

 
<div class="popbyter-mianz">
<div class="popbyter-miansub">
<div class="popbyter-subleft">
  <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png"></a><br/>
<p><a href="#">Back</a></p>

</div>
<div class="popbyter-sub1">

</div>

<div class="popbyter-footer1">  
<div class="return-popupc">
<p>Flashing Lights</p>
<p><img src="/images/return-line-bg.png"></p>
<p></p>
<p><samp><img src="/images/byter-youtob.png"></samp></p><br/><br/><br/>
<p><samp>Error Occurred.  5HKLDF12<br/> Would You Like to Retry?</samp></p>
<br/>

<div class="byter-lefttext">
<p>YES</p>
<p>NO</p>
</div>

</div>
<div class="b-yterfooterli"></div>
</div>


</div>



</div>

 
