
@{
}

<h2>GenralErrorPage</h2>
<div class="popbyter-mianz">
<div class="popbyter-miansub">
<div class="popbyter-subleft">
  <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="/images/bphidbyte_sicon.png"></a><br/>
<p><a href="@ViewBag.backpage">Back</a></p>

</div>
<div class="popbyter-sub1">

</div>

<div class="popbyter-footer1">  
<div class="return-popupc">
<p>@ViewBag.Message</p>
<p><img src="/images/return-line-bg.png"></p>
<p></p>
<p><samp></samp></p><br/><br/><br/>
<p><samp><br/></samp></p>
<br/>
</div>
<div class="b-yterfooterli"></div>
</div>
</div>
</div>
<div id="msgerr" style="display: none;">
</div>
