body {
    background: url("/img/aphid-logo-a.png") no-repeat fixed center center rgba(255, 255, 255, 1) !important;
    font-family: MyWebFont;
    margin: 0;
    padding: 0; 
    background-size: cover !important;
}

