$dark-green: #689202; 
$dark-gray: #919191;
$darkest-gray: #515151;
$light-green: #89C403; 
$light-gray: #AAAAAA;

$blue: #0099ff; 
$black: #333333;
$white: #ffffff; 

$facebook-blue: #3B5998; 
$googleplus-red: #dd4b39;

$byter-color: #529ade;
$aphidlabs-color: #9dc6d1;
$basic-color: #7f9c43;
$premium-color: #E4A200;
$comparison-backdrop: #EBF1DE;

$account-nav: #5298DB;