<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="unity" type=" Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IAccounts" type="AphidBytes.Accounts.Contracts.IAccounts, AphidBytes.Accounts.Contracts" />
    <alias alias="IAphidTise" type="AphidBytes.Accounts.Contracts.IAphidTise, AphidBytes.Accounts.Contracts" />
    <alias alias="IByter" type="AphidBytes.Accounts.Contracts.IByter, AphidBytes.Accounts.Contracts" />
    <alias alias="IBasic" type="AphidBytes.Accounts.Contracts.IBasic, AphidBytes.Accounts.Contracts" />
    <alias alias="ICommon" type="AphidBytes.Accounts.Contracts.ICommon, AphidBytes.Accounts.Contracts" />
    <alias alias="IPremium" type="AphidBytes.Accounts.Contracts.IPremium, AphidBytes.Accounts.Contracts" />
    <alias alias="IHome" type="AphidBytes.Accounts.Contracts.IHome, AphidBytes.Accounts.Contracts" />
    <alias alias="ISocialNetwork" type="AphidBytes.Accounts.Contracts.ISocialNetwork,AphidBytes.Accounts.Contracts" />
    <alias alias="IFeedBack" type="AphidBytes.Accounts.Contracts.IFeedBack, AphidBytes.Accounts.Contracts" />
    <alias alias="IUserSponsored" type="AphidBytes.Accounts.Contracts.IUserSponsored, AphidBytes.Accounts.Contracts" />
    <alias alias="IChat" type="AphidBytes.Accounts.Contracts.IChat, AphidBytes.Accounts.Contracts" />
    <alias alias="IAphidLAb" type="AphidBytes.Accounts.Contracts.IAphidLAb, AphidBytes.Accounts.Contracts" />


    <container name="Accounts" >
      <register type="IAccounts"  mapTo="AphidBytes.Accounts.Processor.Accounts, AphidBytes.Accounts.Processor" />
    </container>
    <container name="AphidTise" >
      <register type="IAphidTise"  mapTo="AphidBytes.Accounts.Processor.AphidTise, AphidBytes.Accounts.Processor" />
    </container>
    <container name="Byter" >
      <register type="IByter"  mapTo="AphidBytes.Accounts.Processor.Byter, AphidBytes.Accounts.Processor" />
    </container>
    <container name="Basic" >
      <register type="IBasic"  mapTo="AphidBytes.Accounts.Processor.Basic, AphidBytes.Accounts.Processor" />
    </container>
    <container name="Common" >
      <register type="ICommon"  mapTo="AphidBytes.Accounts.Processor.Common, AphidBytes.Accounts.Processor" />
    </container>
    <container name="Premium" >
      <register type="IPremium"  mapTo="AphidBytes.Accounts.Processor.Premium, AphidBytes.Accounts.Processor" />
    </container>
    <container name="Home" >
      <register type="IHome"  mapTo="AphidBytes.Accounts.Processor.Home, AphidBytes.Accounts.Processor" />
    </container>
    <container name="SocialNetwork" >
      <register type="ISocialNetwork"  mapTo="AphidBytes.Accounts.Processor.SocialNetwork, AphidBytes.Accounts.Processor" />
    </container>
    <container name="FeedBack" >
      <register type="IFeedBack"  mapTo="AphidBytes.Accounts.Processor.FeedBack, AphidBytes.Accounts.Processor" />
    </container>
    <container name="UserSponsored" >
      <register type="IUserSponsored"  mapTo="AphidBytes.Accounts.Processor.UserSponsored, AphidBytes.Accounts.Processor" />
    </container>
    <container name="Chat" >
      <register type="IChat"  mapTo="AphidBytes.Accounts.Processor.Chat, AphidBytes.Accounts.Processor" />
    </container>
    <container name="AphidLab" >
      <register type="IAphidLAb"  mapTo="AphidBytes.Accounts.Processor.AphidLab, AphidBytes.Accounts.Processor" />
    </container>
  </unity>

</configuration>
