@{
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;
}
 
<div class="container-fluid">
    <div class="row row-offset-lrg">
        <div class="col-md-10 col-md-offset-1 txt-center">
            <p>About AphidByte</p>
            <p>Here at AphidByte we understand that people are our most valuable asset. Our focus is to provide our clients and customers with resources across the globe, to create opportunities in the realms of business, art, photography, technology, music, film, advertising, & more.</p>
            <p>AphidByte was launched in 2016. Since then AphidByte has become one of the fastest growing brands in technology.  AphidByte is derived from the insect the *Aphid, also known as plant lice and in Britain and the Commonwealth as greenflies, blackflies or whiteflies, (not to be confused with "jumping plant lice" or true whiteflies) are small sap-sucking insects, and members of the super family  Aphidoidea.[1] Aphids are among the most destructive insect pests on cultivated plants in temperate regions.[1] The damage they do to plants has made them enemies of farmers and gardeners the world over, but from a zoological standpoint they are a very successful group of organisms.[2] Their success is in part due to the asexual reproduction capability of some species.[not verified in body] About 4,400 species of 10 families are known. Historically, many fewer families were recognized, as most species were included in the family Aphididae. Around 250 species are serious pests for agriculture and forestry as well as an annoyance for gardeners. They vary in length from 1 to 10 millimeters (0.04 to 0.39 in).* This information relates to aphids reproduction and how fast they reproduce. The reproduction is matched with our cloning process. The streamlines in the Matrix are aphid clones that rest on plants.</p>
            <p>AphidByte as a company is passionate about making a change in the careers of our clients. Day in and day out  we will dedicate our efforts in ensuring high quality service</p>
            <p class="row-offset-lrg">*wikipedia aphid</p>
        </div>
    </div>
</div>