@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
   
</head>
<body style="margin: 0; padding: 0; background: #FFFFFF">
<!-- 100% wrapper table -->
<table width='100%' border='0' cellspacing='0' cellpadding='0' bgcolor='#FFFFFF'><tr><td align='left' valign='top'><!-- 600px fixed center aligned wrapper table --><table width='600' border='0' cellspacing='0' cellpadding='0' align='center' class='Fluid_wrapper'><tr><td align='left' valign='top' bgcolor='#636468'><!-- Header section --><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td height='30' align='left' valign='top' style='border-bottom:1px solid #98b955; background:#FFFFFF;'><img src='images/spacer.gif' 10' height='1' alt='' style='display:block;' />  <p style='text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px;'> 1800-APH-BYTE I Store I <a href='#' style=' text-decoration:none; color:#000000;'>www.aphidbyte.com</a></p></td> </tr><tr><td height='7' align='center' valign='top' style='background:#FFF;'>  <a href="@Url.Action("Index","Home")" style="cursor:pointer;"><img src="~/Images/bphidbyte_sicon.png" width='150' height='120' align='middle'/></a></td></tr>
  <tr>
    <td height='8' align='center' valign='top' style='background:#FFF;'><img src="/Images/lock_image.png" width="66" height="64" /></td>
  </tr>
</table></td></tr><tr><td align='left' valign='top' bgcolor='#FFFFFF'><!-- Content section --><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr></tr><tr><td align='left' valign='top'><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td align='left' valign='top' width='20' class='No_mobile'>&nbsp;</td><td align='left' valign='top' class='Split_cells'><table width='100%' border='0' cellspacing='0' cellpadding='0'>  <tr>      </tr>  <tr>    <td height='14' colspan='3' align='left' valign='top'>&nbsp;</td> </tr> <tr>   <td colspan='3' align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #353e44; text-decoration: none; line-height: 19px;'><p>Hello, @{ var username = AphidBytes.Web.Session_Helper.AphidSession.Current.AuthenticatedUser.Identity.Username; } @username</p></td>  </tr>  <tr>    <td colspan='3' align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #353e44; text-decoration: none; line-height: 16px;'><p>To  reset your password on AphidByte, click here:</p></td>  </tr>  <tr>    <td height='7' colspan='3' align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#3131fe; text-decoration: none; line-height: 16px;'><p>@Html.ActionLink("http://www.aphidbyte.com/recovery/f6ef183bb74cd4f94082bb9101a4c1a9bbe31db6","ResetPassword","Accounts")</p></td>  </tr>
                  <tr>
                    <td height='7' colspan='3' align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#353e44; text-decoration: none; line-height: 16px;'>If  you believe these changes were made in error, or if you believe an unauthorized  person accessed your account, please&nbsp;contact our accounts  department&nbsp;immediately by going to <a href='http://www.aphidbyte.com/support'>www.aphidbyte.com/support</a><br /></td>
                  </tr>
                  <tr>
                    <td height='7' colspan='3' align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #353e44; text-decoration: none; line-height: 16px;'><p>Thank you,</p></td>
                  </tr>
                  <tr>
                    <td height='7' colspan='3' align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #353e44; text-decoration: none; line-height: 16px;'><p>AphidByte Staff</p></td>
                  </tr>
                  <tr>
                    <td height='14' colspan='3' align='left' valign='top'></td>
                  </tr>   
                  <tr>    <td align='left' valign='top'></td>    <td align='center' valign='top'><img src="~/Images/expand.png" width='200' height='30' /></td>    <td align='left' valign='top'>&nbsp;</td>  </tr>  </table></td><td align='left' valign='top' width='20' class='No_mobile'>&nbsp;</td></tr></table></td></tr><tr></tr></table><!-- Content section --></td></tr><tr><td align='left' valign='top' bgcolor='#FFFFFF'><!-- Footer section --><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td align='left' valign='top'><table width='100%' border='0' cellspacing='0' cellpadding='0'><tr><td align='left' valign='top' width='21'>&nbsp;</td><td align='left' valign='top' style='font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #7f7f7f; text-decoration: none; line-height:5px; text-align:center;'><p>Copyright and TM &copy; 2013 AphidByte LLC. 5403 Treelodge Pkwy,  Atlanta, GA 30350. </p><p>All Rights Reserved/ Privacy Policy / If you&rsquo;ve received this email  in error, <a href='#' style='text-decoration:underline; color:#7f7f7f;'>Unsubscribe here</a></p></td><td align='left' valign='top' width='21'>&nbsp;</td></tr></table></td></tr><tr><td align='left' valign='top'></td></tr></table><!-- Footer section --></td></tr></table><!-- 600px fixed center aligned wrapper table --></td></tr></table>
<!-- 100% wrapper table -->
</body>
</html>
