@{
}

<div class="about_headtext2"><a href="AboutUsPage">About Us ></a><a href="Culture">Culture </a>@*<a href="#">Wallpapers</a>*@</div>
<div class="about_headbg">
    <div class="about_headbutton abt_h2">
        <p class="headpicicon"><img src="~/Images/headerpic.png" /></p>
        <h2>Culture</h2>
    </div>

    <div class="dgaprofile2">
        <p class="dgaprofilepic"><img src="~/Images/Culture1.png" /></p>
        <a href="@Url.Action("Pictures", "Accounts")">See Pictures Here</a>
    </div>

    @*<div class="dgaprofooetr">
            <div class="dgatextpic">
             <img src="~/Images/dgawifiicon.png" />
            <p>www.aphidbyte.com/DJaMusic</p>
            </div>

             <div class="dgatextpic2">
             <img src="~/Images/dgapropic.png" />
            <p>Dja</p>
            </div>

        </div>*@


    <div class="engtext">
        <p style="text-align: left;">Expand Your Genius</p>
        <p style="text-align: right;">展開你的天才</p>
        <p style="text-align: left;">Udvid dit Genius</p>
        <p style="text-align: left;">Amplíe su genio</p>
        <p style="text-align: left;">Sizin Genius Expand</p>
        <p style="text-align: right;">Développez votre Genius</p>
        <p style="text-align: left;">Erweitern Sie Ihr Genius</p>
        <p style="text-align: right;">توسيع عبقرية لديك</p>
    </div>

</div>