@{
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true; 
}

@model AphidBytes.Accounts.Contracts.Model.ForgetPassword

<div class="container-fluid">
    <div class="row row-offset-lrg">
        <div class="col-md-6 col-md-offset-2">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "forget", enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 txt-center">
                        <h3>Forgot Password</h3>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Email Address:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 txt-center">
                        <button type="submit" class="btn btn-primary">Send Request</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 txt-center">
                        <h6>Or</h6>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 txt-center">
                        <span class="txt-xlarge">?</span>
                        <a href="@Url.Action("SecurityQuestion", "Accounts")">
                            Reset with Security Questions
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>    
</div>