@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}
@*
<div>
    Invalid UserName or Password
   @Html.ActionLink("Login Again","LoginUser","Accounts")
</div>
 *@
<div id="dialog" title="Aphidbytes" style="width:auto !important" ></div>
<div id="button-bg">
 @*<img src="/img/ErrorMSG.png" />*@
    <div class="errormsg">
@*Not a Valid User Name Or Password</div>*@

<div id="button-c"><img src="/img/button_bgw.png" /></div>

</div>
</div>
@*<button id="opener">Show Product</button>*@