@{
}

<div class="about_headtext2"><a href="AboutUsPage">About Us ></a><a href="Culture">Culture ></a><a href="Pictures">Pictures</a></div>
<div class="about_headbg">
    <div class="about_headbutton" style="width:80%;">
        <p class="headpicicon" style="height:0px; line-height:0px;"><img src="~/Images/headerpic.png" /></p>
        <a href="submityourimage" style="color: rgb(81,155,227);float:right;">Submit Your Image</a>
    </div>


<div class="culterspictures">
    <div class="culterspictures1">
        <a href="submityourimage"><img src="~/Images/plusadd.png" /></a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/dwpic1.png" /></p>
        <a href="#" >Download</a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/dwpic2.png" /></p>
        <a href="#">Download</a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/dwpic3.png" /></p>
        <a href="#">Download</a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/logo.png" /></p>
        <a href="#">Download</a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/shortcutlogo.png" /></p>
        <a href="#">Download</a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/djaimg.png" /></p>
        <a href="#">Download</a>
    </div>

    <div class="culterspictures1">
        <p><img src="~/Images/Culture1.png" /></p>
        <a href="#">Download</a>
    </div>
</div>
 

</div>
