@model AphidBytes.Accounts.Contracts.Model.ForgetPassword
@{
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderFooter = true;
    ViewBag.RenderHeader = true;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            @if (Model.Validation.HasCta)
            {
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml", Model.Validation)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm("SecurityQuestionsPassword", "Accounts", FormMethod.Post, new { id = "forget", enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(m => m.UserName, new { });

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6 txt-center">
                                <h3>
                                    ? Reset with Security Questions
                                </h3>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt-password" class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-6">
                                @Html.PasswordFor(model => model.Password, new { id = "txt-password", @class = "form-control password-match" })
                                <span class="required-field">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txt-confirmpassword" class="col-sm-3 control-label">Confirm Password:</label>
                            <div class="col-sm-6">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { id = "txt-confirmpassword", @class = "form-control password-match" })
                                <span class="required-field">*</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>