@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="black_screen" style="display:none;"></div>

<div id="popdiv">
    <div> <img src="/images/closebotton.png" class="close_b"> </div>

    <div class="box_1">


        <samp> <img src="/images/byterb.png" class="box_img"> </samp>


        <ul>
            <li>Receive free news and updates on movies, music, ebooks, etc.</li>
            <li>Create playlists from files within the Matrix</li>
            <li>Registering enters you into our membership participation program to receive rewards</li>
        </ul>


        <p class="basic_free">FREE</p>

    </div>

    <div class="box_1">



        <samp> <img src="/images/basicaccountbg.png" class="box_img"> </samp>


        <ul>
            <li>Receive free news and updates on movies, music, ebooks, etc.</li>
            <li>Create playlists from files within the Matrix</li>
            <li>Purchase and track your clones in the matrix and internet sites</li>
            <li>Encrypt clones with piracy protection</li>
            <li> View web analytics on your clones , and use tools to increase your marketing</li>
        </ul>


        <p class="basic_free">$299.99</p>

    </div>

    <div class="box_1">



        <samp> <img src="/images/premiumaccountbx_bg.png" class="box_img"> </samp>


        <ul>
            <li>Receive free news and updates on movies, music, ebooks, etc.</li>
            <li>Create playlists from files within the Matrix</li>
            <li>Purchase and track your clones in the matrix and internet sites</li>
            <li>Encrypt clones with piracy protection</li>
            <li> View advanced data web analytics on your clones , and use tools to increase your marketing</li>
            <li> Public User Channel</li>
            <li> Marketing Teams</li>
            <li>Use Premium Account “Tools” to increase marketing and select widgets of choice to maximize clientele experience</li>
        </ul>


        <p class="basic_free">Consult</p>

    </div>

    <div class="box_1">



        <samp> <img src="/images/aphidtiseaccountbg.png" class="box_img"> </samp>


        <ul>
            <li>Receive free news and updates on movies, music, ebooks, etc.</li>
            <li>Pay for your Ads and track your data analytics in the matrix and internet sites</li>
            <li>Create teasers, trailers, and shorts</li>
            <li>Allow your customers to receive credits and rewards for watching your Ads and taking your surveys.</li>

        </ul>


        <p class="basic_free">Consult</p>

    </div>


</div>





<div class="headertab_aphidtise">

    <p class="logtext">I do not have an account</p>

    <p class="logtext" style="font-weight: bold;">Select Account Type</p>
    <p class="logtext">See Full Account Details Comparison Chart</p>


</div>

<div class="warp_mainbox">

    <div class="box">
        <samp><a href="~/Home/Register#byter"><img src="/images/byter_imgbg.png"></a></samp>
        <div class="box_bg"><samp class="box_tex">Byter Account</samp></div>
        <p>Consumer</p>
        <p class="the_p">Get the latest news of in Movies, Music, eBooks, Art, Technology, and Photography. Create playlists from your favorite categories</p>



    </div>


    @*<div class="box">
        <div class="box_bg">
        <samp class="box_tex"> Merchant Account</samp>
        </div>

        <samp><img src="images/merchant_account_bg.png"> </samp>
        <p>E-Commerce</p>
        <p>Sell your merchandise. Fashion, electronics, software, etc. Also create “Tools” widgets as a developer</p>


        </div>*@

    <div class="box">
        <samp><a href="~/Home/Register#premium"><img src="/images/aphid_labsicon.png"></a> </samp>
        <div class="box_bg4"><samp class="box_tex">AphidLabs Account</samp></div>
        <p>Technology Developer</p>
        <p class="the_p">Web Designer, Programmer, UI and UX professional, Software Developer</p>

        
    </div>

    <div class="box">
        <samp><a href="~/Home/Register#aphidtise"><img src="/images/basic_account_bg.png"></a></samp>
        <div class="box_bg2"><samp class="box_tex">Basic Account</samp></div>
        <p>Composer</p>
        <p class="the_p">Music Artist, Filmmaker, Artist, Photographer, EBook Author/Publisher, or Actor/Actress</p>

    </div>

    <div class="box">
        <samp><a href="~/Home/Register#basic"><img src="/images/premium_ccountcompo.png"></a> </samp>
        <div class="box_bg3"><samp class="box_tex">Premium Account</samp></div>
        <p>Composer</p>
        <p class="the_p">Highly established Music Artist, Filmmaker, Artist, Photographer, EBook Author/Publisher, or Actor/Actress</p>
        <p class="the_p">Provide the links to your merchandise. electronics, software, etc. from iTunes, Google Play, Amazon, etc. storefront</p>
        <p><img style="width:85%;" src="/images/allsocilicon.png"></p> 
    </div>

 

</div>






<div class="menunav_footer2">
    <ul>
        <li><a href="#">Navigation  </a></li>
        <li><a href="#">Menu    </a></li>
        <li><a href="#">Advertise   </a></li>
        <li><a href="#">Store     </a></li>
        <li><a href="#">Terms    </a></li>
        <li><a href="#">Privacy Policy </a></li>
        <li><a href="#">Upload</a></li>
    </ul>
</div>
