@{
}


<div class="about_headtext2"><a href="#">About Us ></a><a href="#">Culture ></a><a href="#">Wallpapers</a></div>
<div class="about_headbg">
    <div class="about_headbutton">
        <p class="headpicicon"><img src="~/Images/headerpic.png" /></p>
    </div>
   <div class="about_headbutton2">
        <p class="headpicicon2">Me in the studio working on my song</p>
    </div>
    <div class="dgaprofile3">
        <p class="dgaprofilepic"><img src="~/Images/djaimg.png" /></p>
    </div>

    <div class="dgaprofooetr">
        <div class="dgatextpic">
         <img src="~/Images/dgawifiicon.png" />
        <p>www.aphidbyte.com/DJaMusic</p>
        </div>
        
         <div class="dgatextpic2">
         <img src="~/Images/dgapropic.png" />
        <p>Dja</p>
        </div>

    </div>
</div>
