@{
    Layout = "~/Views/Shared/_LayoutWhite.cshtml";
    ViewBag.RenderHeader = true;
    ViewBag.RenderFooter = true;
}

@section HeadScripts {
    @Styles.Render("~/bundles/css/support")
}

@section scripts {
    @Scripts.Render("~/js/home/support.js")
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 txt-center header-img row-offset-lrg">
            <img src="~/img/support/technical-support.png" alt="technical support" class="table-center" />
            Technical Support
        </div>
        <div class="col-md-8 row-offset-med">
            <p class="txt-center">Customer Service</p>

            <p class="txt-center">
                For AphidByte General Questions:<br />
                <a href="mailto:contactus@aphidbyte.com">contactus@aphidbyte.com</a>
            </p>

            <p class="txt-center">
                For AphidByte Account Questions:<br />
                <a href="mailto:accounts@aphidbyte.com">accounts@aphidbyte.com</a>
            </p>

            <p class="txt-center">
                For AphidByte Technical Support Questions:<br />
                <a href="mailto:support@aphidbyte.com">support@aphidbyte.com</a>
            </p>

            <p class="txt-center">
                For AphidByte Order Questions:<br />
                <a href="mailto:orders@aphidbyte.com">orders@aphidbyte.com</a>
            </p>

            <p class="txt-center">
                For AphidByte Compliance Questions:<br />
                <a href="mailto:compliance@aphidbyte.com">compliance@aphidbyte.com</a>
            </p>

            <p class="txt-center">
                AphidByte LLC <br />
                <strong>(404) 884-8249</strong>
            </p>

            <p class="txt-center">
                Company Hours: M-F  9a-5p EST
            </p>
        </div>
    </div>
</div>