@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<div class="wrap_main">
               <p class="top-head-text">ADMIN EDIT VIEW (News)</p>

	  <aside class="wrap-left-sidebar">
<div  class="edittext-edita"><a href="#">Edit</a></div>
		<div id="wrap-right-scroll">
                <div class="boxedit">
                <p>Past Releases</p>
                <p style="color:#e0ac03;"> <img src="/img/newr_icon.png"> New Releases</p>
                <p>Upcoming Releases</p>
                <div id="close-editb">
                <div id="close-pic-box-c">
                <div id="c-buttona"><a href="#"></a></div>
                <div class="close-picsa"><p>Kanye West Yeezus June 16, 2013</p></div>
                <div> <img src="/img/one_pic.png"> </div>
                
                <div id="close-editb">
                <div id="close-pic-box-c">
                <div id="c-buttona"><a href="#"></a></div>
                <div class="close-picsa"><p>Mayweather 30 Days in May Now Available</p></div>
                <div> <img src="/img/one_pic_2.png"> </div>
                
                <div id="close-editb">
                
                <div></div>
                <div></div>
                </div>
                </div>
               
                 
                </div>
               
                </div>
                </div>
				</aside>
                
                
				<aside class="wrap-middle-sidebar">
				    <div  class="edittext2c3-c" align="right"><a href="#">Edit</a></div>
                    
             
					<img src="/img/logo.png"> 
                    
                    <div class="wrap-search-box">
                <input type="text" class="wrap-searchinbox" placeholder="Enter Title or Traking Number" /> <input type="button" value="SEARCH" class="warp-searchbtn" />
                </div> 
                
                <div class="wrap-nav">
                <ul class="wrap-navlinks">
				<li>MUSIC</li>
				<li>VIDEOS</li>
				<li>PHOTOGRAPHY/ART</li>
				<li>EBOOK</li>
				<li>FILES</li>
				</ul>
                
                </div> 
               <div class="power-botton">
               <aside class="lgn">LOGIN</aside>
               <a href="#"><img src="/img/power.png" class="pointer"></a>
               </div>
				</aside>			
                 
                 
                 
				<aside class="wrap-right-sidebar">
                		   <div  class="edittext2-c-2"><a href="#">Edit</a></div>

				<div id="wrap-right-scroll">
                <div id="w-right-text">
                <p>Film</p>
                <p>Photography</p>
                <p>Art</p>
                <p>Technology</p>
                <p style="color:#FFC200"> News</p>
                <div class="w-boxm">
                <div class="w-bx"><img src="/img/next_right.png"></div>
                <div class="w-bx2" style="color:#FFF;">Music</div>
                <div class="w-bx3"><img src="/img/pev_right.png"></div>
                </div>
                
                <div class="w-right-bg" >
                <div id="edit-box-ca">
                 <div id="c-buttona-c"><a href="#"><img src="/img/close.png"></a></div>
                <div class="left-logo-ca"><img src="/img/logo_a.png"></div>
                <p class="edit-box-text"> Kanye West walked head-first into a metal   <a href="#" class="redmore_t">(Read More)</a></samp></p>  
                </div>
                
               <div id="edit-box-ca">
                 <div id="c-buttona-c"><a href="#"><img src="/img/close.png"></a></div>
                <div class="left-logo-ca"><img src="/img/mtv_icon.png"></div>
                <p class="edit-box-text"> Kanye West walked head-first into a metal   <a href="#" class="redmore_t">(Read More)</a></samp></p>  
                </div>
                
                <div id="edit-box-ca">
                 <div id="c-buttona-c"><a href="#"><img src="/img/close.png"></a></div>
                <div class="left-logo-ca"><img src="/img/tmz_logo.png"></div>
                <p class="edit-box-text"> Kanye West walked head-first into a metal   <a href="#" class="redmore_t">(Read More)</a></samp></p>  
                </div>
                
                <div id="edit-box-ca">
                 <div id="c-buttona-c"><a href="#"><img src="/img/close.png"></a></div>
                <div class="left-logo-ca"><img src="/img/vh_logo.png"></div>
                <p class="edit-box-text"> Kanye West walked head-first into a metal   <a href="#" class="redmore_t">(Read More)</a></samp></p>  
                </div>
                
                
               <div id="prv-boon">

                <div> <img src="/img/pev_b.png" style="cursor:pointer" /> </div>
                <div > <img src="/img/next_b.png" style="cursor:pointer" />   </div>
                </div>
                </div>
                
               
                </div>
                
                </div>
               
				</aside>	
				</div>


       
        <footer class="mainFooter" >
		
         <div class="search-nav">
           <ul class="navlinks_b">
				
				<li><a href="#">Advertise</a></li>
				<li><a href="#">Store</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Privacy Policy  </a></li>
                <li><a href="#">Sponsoring</a></li>
				</ul>
                </div> 
				
	</footer>
