@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}


<div class="mainContent-c">
  <aside class="middle-grid" id="msb">
					<div class="mbox1" ><img src="/img/grid1bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter III A Milli</p></div>
                    
                    <div class="mbox1" ><img src="/img/grid2bg.png"> <p class="grid-pica "> <img src="/img/glogo1.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 2</p></div>
                    
                    <div class="mbox1" ><img src="/img/grid3bg.png"> <p class="grid-pica "> <img src="/img/glogo2.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Dedication 4</p></div>
                    
  </aside>				
				<aside class="middle-grid" id="msb">
					<div class="mbox1" ><img src="/img/grid4bg.png"><p class="grid-pica "> <img src="/img/glogo3.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Lights Out Biznite</p></div>
                    
                    <div class="mbox1" ><img src="/img/grid5bg.png"> <p class="grid-pica "> <img src="/img/glogo2.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter Cash Money Millionaires
</p></div>
                    
                    <div class="mbox1" ><img src="/img/grid6bg.png"> <p class="grid-pica2 "> <img src="/img/glogo4.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Rebirth Prom Queen</p></div>
                    
				</aside>
                <aside class="middle-grid" id="msb">
					<div class="wrap-nav" style="margin-top:2px;">
                    <p class="grid-textm"> <img src="/img/newr_icon.png"> Matrix View</p>
                    <p class="grid-textm"><a href="IndexSearchMobile"style="color:white;">Mobile View</a></p>
                    <p class="grid-textm"><a href="SearchListView"style="color:white;">List View</a></p>
                <ul class="wrap-navlinks">
				<li>MUSIC</li>
				<li>VIDEOS</li>
                <div class="grid-c-logo"><a href="VideoPreview"><img src="/img/bphidbyte_sicon.png" /></a></div>
				<li>PHOTOGRAPHY/ART</li>
				<li>EBOOK</li>
				<li>FILES</li>
				</ul>
                
                </div> 
                <p class="grid-text" style="margin-top:18px;">Speed</p>
                
                <div id="play-d">
                <div id="play-d1"><img src="/img/pluse_green.png"></div>
                <div id="play-d2"><img src="/img/pause.png"></div>
                <div id="play-d3"><img src="/img/-button.png"></div>
                </div>
                
                <div id="play-d">
                <div id="play-d1" style="margin-left:15px;"><p class="grid-text-c"><a href="~/Accounts/Logout">Logout</a></p></div>
                <div id="play-d3" style="margin-left:12px;"><img src="/img/logout.png"></div>
                </div>
                
				</aside>				
				  <aside class="middle-grid" id="msb">
					 <div class="mbox1" ><img src="/img/grid7bg.png"> <p class="grid-pica "> <img src="/img/glogo5.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought Is Over 2</p></div>
                    
                     <div class="mbox1" ><img src="/img/grid8bg.png"> <p class="grid-pica "> <img src="/img/glogo6.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 4</p></div>
                    
                     <div class="mbox1" ><img src="/img/grid9bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter IV So Special </p></div>
                    
				</aside>	
 				<aside class="middle-grid" id="msb">
					 <div class="mbox1" ><img src="/img/grid10bg.png"></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne The Drought is Over 3 </p></div>
                    
                     <div class="mbox1" ><img src="/img/grid11bg.png"> <p class="grid-pica "> <img src="/img/glogo7.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne Tha Carter II Feel Me</p></div>
                    
                     <div class="mbox1" ><img src="/img/grid12bg.png"> <p class="grid-pica "> <img src="/img/glogo8.png"> </p></div>
                    <div class="overbox"><p class="grid-text">Lil Wayne I Am Not a Human Being Single </p></div>
                    
				</aside>	
			   <aside class="middle-grid" id="msb">
               <p class="gtext-1">Search Results</p>
				<div class="mbox1" ><img src="/img/grid13bg.png"></div>
                <p class="gtext-1">Lil Wayne</p>
                <div class="mbox1c" ><img src="/img/grid14bg.png"> </div>
                    
       
                    	
  </aside>
                      
                <div id="maincont"><img src="/img/bgmainpaly.png"></div>  

				</div>
     
<footer class="mainFooter" >
		
         <div class="search-nav">
           <ul class="navlinks_b">
				
				<li><a href="#">Advertise</a></li>
				<li><a href="#">Store</a></li>
				<li><a href="/Accounts/Terms">Terms</a></li>
                <li><a href="/Accounts/PrivacyPolicy">Privacy Policy </a></li>
                <li><a href="/UserSponsored/Index">Sponsoring</a></li>
				</ul>
                </div> 
				
	</footer>