@{
    Layout = "~/Views/Shared/_LayoutNoHeaderFooter.cshtml";
}

<div class="wrap_main">

	  <aside class="wrap-left-sidebar">
		 <div id="wrap-right-scroll">
                <div id="w-right-text">
                <p>Past Releases</p>
                <p>Upcoming Releases</p>
                <p> <img src="/img/newr_icon.png"> New Releases</p>
                <div class="w-boxm"></div>
                
                
                  <p class="w-tex-left"  style="border: 1px solid#a8ab08; float:left;">Kanye West Yeezus June 16, 2013</p>
                  <div class="left-bg1"> <img src="/img/one_pic.png">  </div>
                  <p class="w-tex-left"  style="border: 1px solid#a8ab08; float:left;">Mayweather 30 Days in May Now Available</p>
                  <div class="left-bg2"> <img src="/img/one_pic_2.png">  </div>

                </div>
                </div>
				</aside>
				
				<aside class="wrap-middle-sidebar">
				
                	
					<img src="/img/logo.png">
                    
                    <div class="wrap-search-box">
                 
                <input type="text" class="wrap-searchinbox" placeholder="Enter Title or Traking Number" /> <input type="button" value="SEARCH" class="warp-searchbtn" />
                </div> 
                
                <div class="wrap-nav">
                <ul class="wrap-navlinks">
				<li>MUSIC</li>
				<li>VIDEOS</li>
				<li>PHOTOGRAPHY/ART</li>
				<li>EBOOK</li>
				<li>FILES</li>
				</ul>
                </div> 
               <div class="power-botton">
               <aside class="lgn">LOGIN</aside>
               <a href="#"><img src="/img/power.png" class="pointer"></a>
               </div>
				</aside>			
                 
				<aside class="wrap-right-sidebar2">
				<div id="wrap-right-scroll">
                <div id="w-right-text">
                <p>Music</p>
                <p>Photography</p>
                <p>Art</p>
                <p>Technology</p>
                <div class="w-boxm">
                <div class="w-bx"><img src="/img/next_right.png"></div>
                <div class="w-bx2">Film</div>
                <div class="w-bx3"><img src="/img/pev_right.png"></div>
                </div>
               
                <div class="w2-right-bg2" >
                 <p class="text-p">Top Box Office Movies</p>
                 <div class="w-box-tex">
                 <ul class="w-right-text">
                 <li>1 Insidious 2 <div class="onload" style="display:none;"> <img src="/img/onload.png"> </div> </li>
                 <li>2 The Family </li>
                 <li>3 Riddick</li>
                 <li>4 Lee Daniel's The Butler</li>
                 <li>5 We're the Millers </li>
                 <li>6 Instructions Not Included</li>
                 <li>7 Planes  </li>
                 <li>8 One Direction: This is Us  </li>
                 <li>9 Elysium  </li>
                 <li>10 Percy Jackson: Sea of Monsters 3D</li>
                 <li>(see all)</li>
                 </ul>
                 
                 </div>
                 <div class="w-box-tex-right">
                   <ul class="w-right-text">
                 <li>$41.0M</li>
                 <li>$14.5M </li>
                 <li>$7.0M</li>
                 <li>$5.5M</li>
                 <li>$5.4M</li>
                 <li>$4.2M</li>
                 <li>$3.0M</li>
                 <li>$2.4M</li>
                 <li>$2.0M</li>
                 <li>$1.8M</li>
                 
                 </ul>
                 
                 
                 </div>
                 
                 
                  <div id="prv-boon">
                  
                 
               <div> <img src="/img/prev_b.png" style="cursor:pointer" /> </div>
                <div > <img src="/img/next_b.png" style="cursor:pointer" />   </div>
               </div>
                </div>
                
               
                </div>
                </div>
				</aside>	
				</div>


       
        <footer class="mainFooter" >
		
         <div class="search-nav">
           <ul class="navlinks_b">
				
				<li><a href="#">Advertise</a></li>
				<li><a href="#">Store</a></li>
				 <li><a href="/Accounts/Terms">Terms    </a></li>
            <li><a href="/Accounts/PrivacyPolicy">Privacy Policy </a></li>
            <li><a href="/UserSponsored/Index">Sponsoring</a></li>
				</ul>
                </div> 
				
	</footer>

