<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AphidTiseDBEntity" connectionString="metadata=res://*/AphidTiseDBEntity.csdl|res://*/AphidTiseDBEntity.ssdl|res://*/AphidTiseDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=jobseede_AphidTise;user id=AphidTise;password=welcome@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="jobseeders_com_aphidbyteEntities" connectionString="metadata=res://*/AphidTiseDBEntity.csdl|res://*/AphidTiseDBEntity.ssdl|res://*/AphidTiseDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=jobseede_AphidTise;user id=AphidTise1;password=welcome@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="jobseeders_com_aphidbyteEntities" connectionString="metadata=res://*/AphidTiseEntity.csdl|res://*/AphidTiseEntity.ssdl|res://*/AphidTiseEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=jobseeders_com_aphidbyte;persist security info=True;user id=aphidbyte;password=Shakti@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <!-- localhost -->
    <!-- stag -->
    <!-- <add name="aphidbyte_entities" connectionString="metadata=res://*/AphidTiseEntities.csdl|res://*/AphidTiseEntities.ssdl|res://*/AphidTiseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=U19383914\SQLEXPRESS;initial catalog=stag_abyt;persist security info=True;user id=aphidbyte;password=Adm1n1strat0r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- prod -->
    <!-- <add name="aphidbyte_entities" connectionString="metadata=res://*/AphidTiseEntities.csdl|res://*/AphidTiseEntities.ssdl|res://*/AphidTiseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=U19383914\SQLEXPRESS;initial catalog=prod_abyt;persist security info=True;user id=aphidbyte;password=Adm1n1strat0r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!--<add name="aphidbyte_entities" connectionString="metadata=res://*/AphidTiseEntities.csdl|res://*/AphidTiseEntities.ssdl|res://*/AphidTiseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=stag_abyt;persist security info=True;user id=aphidbyte;password=Adm1n1strat0r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="jobseeders_com_aphidbyteEntities" connectionString="metadata=res://*/AphidTiseEntities.csdl|res://*/AphidTiseEntities.ssdl|res://*/AphidTiseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=stag_abyt2;persist security info=True;user id=aphidbyte;password=Adm1n1strat0r;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="jobseeders_com_aphidbyteEntities" connectionString="metadata=res://*/AphidTiseDBEntity.csdl|res://*/AphidTiseDBEntity.ssdl|res://*/AphidTiseDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SONU-PC;initial catalog=stag_abyt2;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>